body {
    width:  100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans', Sans-Serif;
}
#board {
    background-image: url('./images/board.svg');
    background-size: 100%;
    position: absolute;
    top: 0px; 
    left: 0px;
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 56.25vw;
    max-height: 100vh;
    max-width: 177.7777vh;
    z-index: 1;
    display: flex;
    flex-direction: row;
}
.vertical {
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 8.125%;
    display: flex;
    flex-direction: column;
}
#middle_side {
    top: 0px;
    left: calc(50% - 6.25% / 2);
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 2.5%;
    display: table-cell;
}
.field {
    /* border: 1px solid green; */
    margin: 0px;
    padding: 0px;
    height: 50%;
    z-index: 2;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.top {
    flex-direction: column;
}
.bottom {
    flex-direction: column-reverse;
}
[color='white'] {
    background-image: url('./images/white.svg');
}
[color='black'] {
    background-image: url('./images/black.svg');
}
checker {
    background-size: cover;
    will-change: transform;
    padding: 0px;
    margin: 0px;
    z-index: 3;
    /* TODO: fix a little slicing in different positions & while dragging. */
    width: 7.25vw;
    height: 7.25vw;
    max-height: 12.8889vh;
    max-width: 12.8889vh;
    position: absolute;
    z-index: 3;
}
.diceBox {
    /* background-color: gold; */
    position: absolute;
    width: 15%;
    height: 11%;
    top: calc(50% - 11% / 2);
    right: 16.5%;
}
.die {
    background-image: url('./images/die.svg');
    background-size: cover;
    position: absolute;
    width: 40%;
    height: 100%;
    z-index: 2;
}
#die1 {
    left: 0px;
}
#die2 {
    right: 0px;
}










abs_checker {
    background-size: cover;
    will-change: transform;
    padding: 0px;
    z-index: 3;  
    position: absolute;
    /* TODO: fix a little slicing in different positions & while dragging. */
    width: 7.25vw;
    height: 7.25vw;
    max-height: 12.8889vh;
    max-width: 12.8889vh;
}

.test {
    width: 20px;
    height: 40px;
    background-color: aqua;
    border: 1px solid black;
    /* position: absolute; */
    z-index: 2;






}
