:root {
    --scale-selected-checker: 1.025;
    --checker-size: 7.5vw;
}
  body {
    width:  100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans', Sans-Serif;
    background-color: #DBE0EC;
}


/* BOARD */

#board {
    /* TEST SETTINGS */
    /* background-color: gold; */
    /* border: 1px solid grey; */
    
    /* Background & border */
    background-image: url('../images/board.svg');
    background-size: 100%;
    /* Center horizontally & vertically*/
    overflow: hidden;
    overflow-y: auto;
    margin: 0px;
    padding: 0px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* Set a size */
    width: 100vw;
    height: 56.25vw;
    max-height: 100vh;
    max-width: 177.7778vh;
    /* Settings for children */ 
    z-index: 1;
    display: flex;
    flex-direction: row;
    box-sizing: content-box;
}
.vertical {
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 7.8125%;
    display: flex;
    flex-direction: column;
}
#middle_side {
    top: 0px;
    left: calc(50% - 6.25% / 2);
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 6.25%;
    display: flex;
    flex-direction: column;
}
.field {
    /* border: 1px solid green; */
    margin: 0px;
    padding: 0px;
    height: 50%;
    z-index: 2;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.top {
    flex-direction: column;
}
.bottom {
    flex-direction: column-reverse;
}
.field.middle {
    height: 100%;
}
/* .field.marked {
    border: 1px solid red;
} */
.top.marked {
    flex-direction: column;
    border-top: 4px solid green;
}
.bottom.marked {
    flex-direction: column-reverse;
    border-bottom: 4px solid green;
}


/* CHECKERS */

checker {
    background-size: cover;
    will-change: transform;
    padding: 0px;
    margin: 0px;
    z-index: 300;
    /* TODO: fix a little slicing in different positions & while dragging. */
    width: var(--checker-size);
    height: var(--checker-size);
    max-height: 12.8889vh;
    max-width: 12.8889vh;
    position: absolute;
    z-index: 3;
    --webkit-user-drag: element;
    overflow: visible;
}
[color='-1'] {
    background-image: url('../images/black.svg');
}
[color='1'] {
    background-image: url('../images/white.svg');
}
checker[color='-1'].selected {
    background-image: url('../images/blackSelected.svg');
}
checker[color='1'].selected {
    background-image: url('../images/whiteSelected.svg');
}
checker.selected {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: scale(var(--scale-selected-checker));
    transform: scale(var(--scale-selected-checker));
}
checker[color='-1']:hover {
    background-image: url('../images/blackSelected.svg');
    -webkit-transform: scale(var(--scale-selected-checker));
    transform: scale(var(--scale-selected-checker));
}
checker[color='1']:hover {
    background-image: url('../images/whiteSelected.svg');
    -webkit-transform: scale(var(--scale-selected-checker));
    transform: scale(var(--scale-selected-checker));
}


/* MISC */

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
  }
#hint {
    background-color: aqua;
    border: 1px solid red;
    position: absolute;
    width: 35%;
    height: 30%;
    top: calc(50% - 18% / 2);
    left: 10%;
    font-family: 'open sans',arial,sans-serif;
    font-size: small;
    text-align: left;
    color: gray;
    /* overflow: scroll; */
    /* white-space: nowrap;  */
    overflow-y: scroll;
    /* overflow: scroll;
    text-overflow: scroll;
    overflow: visible; */
    z-index: 1000;
    display: table-cell;
    vertical-align: bottom;
    text-align: bottom;
    flex-direction: column;
    visibility: hidden;
}
#hint > p {
    margin: 0px;
    padding: 0px;
}
.diceBox {
    /* background-color: gold; */
    position: absolute;
    width: 15%;
    height: 11%;
    top: calc(50% - 11% / 2);
    right: 16.5%;
}
.die {
    background-image: url('../images/die.svg');
    position: absolute;
    width: 40%;
    height: 100%;
    /* background: linear-gradient(45deg, rgba(117, 71, 74, 0) 97.4%, rgba(117, 71, 74, 0) 100%); */
    /* border-width: 10%; */
    /* border-style: solid; */
    /* border-color: #372526; */
    /* box-sizing: border-box; */
    /* border-radius: 25%; */
    z-index: 2;
}
#die1 {
    left: 0px;
}
#die2 {
    right: 0px;
}
spot {
    height: 20%;
    width: 20%;
    background-color: #000000;
    border-radius: 60%;
    /* display: contents; */
    position: absolute;
    z-index: 3;
}
#spot1 {
    top: 10%;
    left: 10%;
}
#point2 {
    top: 10%;
    left: 40%;
}
#spot3 {
    top: 10%;
    left: 70%;
}
#spot4 {
    top: 40%;
    left: 10%;
}
#spot5 {
    top: 40%;
    left: 40%;
}
#spot6 {
    top: 40%;
    left: 70%;
}
#spot7 {
    top: 70%;
    left: 10%;
}
#spot8 {
    top: 70%;
    left: 40%;
}
#spot9 {
    top: 70%;
    left: 70%;
}


.test {
    width: 200px;
    height: 200px;
    background-color: aqua;
    border: 1px solid black;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;

    
    display: block;

    /* height: 2525px;
    line-height: 20px;
    min-height: 100%;
    width: 1406px; */

    overflow: hidden;
    /* -webkit-overflow-scrolling: touch; */
    vertical-align: baseline;
    box-sizing: border-box;

}
