:root {
    --scale-hovered-checker: 1.025;
    --scale-selected-checker: 1.05;
    /* --checker-size: 7.5vw; */
    --checker-size: 100%;
}
* {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
html, body {
    width:  99%;
    height: 85%;
    /* margin: 0px; */
    padding: 0px;
    font-family: 'Noto Sans', Sans-Serif;
    overflow: hidden;
    margin: 0;
}



/* BOARD */

#board {
    /* TEST SETTINGS */
    /* Background & border */
    /* background-image: url('../images/board.svg'); */
    /* background-repeat: no-repeat; */
    /* background-size: 100%; */
    /* Center horizontally & vertically*/
    

    background-image: url("https://www.transparenttextures.com/patterns/dotnoise-light-grey.png");
    
    background-repeat: none;
    /* background-size: cover; */
    /* opacity: 0.75; */
    
    border: 1px solid black;
    background-color: #EEE7E4;
    overflow: hidden;
    /* overflow-y: hidden; */
    /* overflow-x: hidden; */
    margin: 0px;
    padding: 0px;
    /* padding-left: 0.375%; */
    /* Set a position */
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* Set a size */
    /* width: calc(100vw - 4px);
    height: calc(100vh - 77px);;
    max-width: calc(176vh - 4px);
    max-height: calc(56.25vw - 4px); */
    width: 99vw;
    height: 84vh;
    max-width: 176vh;
    max-height: 56.25vw;
    /* Settings for children */ 
    z-index: 0;
    display: flex;
    flex-direction: row;
    box-sizing: content-box;
    overflow: hidden;
}

    #horizontal {
        /* border: 1px dashed purple; */
        height: 10%;
        width: 100%;
        position: absolute;
        top: calc(50% - 10% / 2);
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center;
    }

        /* HINT */

        #hint {
            /* Test */
            /* border: 1px dashed red; */
            z-index: 2;

            /* Size & position */
            width: 50%;
            height: 100%;
            display: flex;
            order: 1;
            font-weight: 90;
            line-height: 100%;
            vertical-align: middle;
            align-items: center;
            justify-content: center;
            text-align: center;

            /* Font */
            /* font-family: 'Red Rose'; */
            /* font-family: 'Source Sans Pro'; */
            font-family: 'Montserrat';
            color: #70797B;
            font-size: 200%;
        }

        /* DICE */

        #diceBox {
            
            /* border: 1px dashed red; */
            order: 2;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            align-content: center;
            width: 50%;
            height: 100%;
            z-index: 2;
        }
            .die {
                /* border: 1px dashed purple; */
                flex-shrink: 4;
                width: 10%;
                height: 100%;
                margin: 2%;
                padding: 0;
                background-size: cover;
            }
            .die[val='1'] {
                background-image: url('../images/die1.svg');
            }
            .die[val='2'] {
                background-image: url('../images/die2.svg');
            }
            .die[val='3'] {
                background-image: url('../images/die3.svg');
            }
            .die[val='4'] {
                background-image: url('../images/die4.svg');
            }
            .die[val='5'] {
                background-image: url('../images/die5.svg');
            }
            .die[val='6'] {
                background-image: url('../images/die6.svg');
            }
        
    .vertical {
        /* border: 1px dashed yellow; */
        top: 0px;
        left: 0px;
        margin: 0px;
        padding: 0px;
        height: 100%;
        width: calc(100% / 13);
        display: flex;
        flex-direction: column;
    }
        #middle_side {
            border: 1px solid black;
            background-color: #dddddd; /* #D2DAFE; */
            top: 0px;
            left: calc(50% - 6.25% / 2);
            margin: 0px;
            padding: 0px;
            margin-top: -1px;
            height: calc(100% + 2px);
            width: calc(100% / 13);
            display: flex;
            flex-direction: column;
        }
        .field {
            /* border: 1px dashed green; */

            background-repeat: no-repeat;
            background-size: 100%;
            margin: 0;
            padding: 0;
            height: 50%;
            z-index: 3;
            position: relative;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            user-select: none;
        }
        .field.top {
            flex-direction: column;
            background-image: url('../images/triangleTop.svg');
            background-position: top;
        }
        .field.bottom {
            flex-direction: column-reverse;
            background-image: url('../images/triangleBottom.svg');
            background-position: bottom;
        }
        .field.allowed {
            background-repeat: no-repeat;
            background-size: 100%;
        }
        .field.top.allowed {
            background-image: url('../images/triangleTopAllowed.svg');
            background-position: top;
        }
        .field.bottom.allowed {
            background-image: url('../images/triangleBottomAllowed.svg');
            background-position: bottom;
        }
        .field.middle {
            height: 76%;
        }
        .buttons {
            /* border: 1px solid green; */
            height: 12%;
            position:relative;
            /* text-align:center; */
        }
            /* .buttons.bottom {
                background-repeat: no-repeat;
                background-image: url('../images/return.svg');
                background-size: 50%;
                background-position: center;
            } */
            .button {
                /* border: 1px solid green; */
                display: block;
                position:   absolute;
                top:        50%;
                bottom:     50%;
                transform:  translate(100%, -50%);
                cursor: pointer;
            }
            .button.active path{
                stroke: #000000;
            }
            .button.unactive path{
                stroke: #B8B7B7;
            }





/* CHECKERS */

checker {
    /* border: 1px dashed green; */
    /* background-color: #ffffff; */
    /* border: 1px solid black; */
    /* border-radius: 50%; */
    /* width: 100px; */
    /* height: 100px; */


    background-size: var(--checker-size), var(--checker-size);
    background-repeat: no-repeat;
    background-position: bottom;
    margin: auto;
    will-change: transform;
    padding: 0px;
    z-index: 300;
    /* Set a size */
    width: calc(min(100vw - 4px, 176vh - 4px) / 15);
    height: calc(min(100vw - 4px, 176vh - 4px) / 15);
    position: absolute;
    z-index: 30;
    overflow: visible;
}
[color='-1'] {
    background-image: url('../images/checkerBlack.svg');
}
[color='1'] {
    background-image: url('../images/checkerWhite.svg');
}
checker.hovered {
    -webkit-transform: scale(var(--scale-hovered-checker));
    transform: scale(var(--scale-hovered-checker));
    /* cursor: grab; */
}
checker.selected {
    box-shadow: 0px 0px 5px #fff;
    z-index: 40;
    /* animation: 3s bounce infinite linear; */
    /* animation: backglow 2s linear infinite; */
}
/* checker.selected::before, */
/* checker.selected::after  */
@keyframes backglow {
    0% {transform: scale(1)}
    25% {transform: scale(1.1)}
    50% {transform: scale(1.2)}
    75% {transform: scale(1.1)}
    100% {transform: scale(1)}
}









@keyframes bounce {
    0% { transform: translateY(0); }
    25% { transform: translateY(1em); }
    50% { transform: translateY(0); }
    75% { transform: translateY(-1em); }
  }
/* checker[color='-1'].selected {
    background-image: url('../images/blackSelected.svg');
}
checker[color='1'].selected {
    background-image: url('../images/whiteSelected.svg');
} */
checker.selected {
    display: inline-block;
    vertical-align: middle;
    z-index: 100;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);

    /* -webkit-transform: perspective(1px) translateZ(0); */
    /* -webkit-transition-duration: 0.3s; */
    /* transition-duration: 0.3s; */
    /* -webkit-transition-property: transform; */
    /* transition-property: transform; */
    -webkit-transform: scale(var(--scale-selected-checker));
    transform: scale(var(--scale-selected-checker));
}
checker.dragging {
    position: absolute;
    /* border: 1px dashed red; */
    padding: 0;
    margin: 0;
    overflow: visible;
}
checker.transparent {
    /* opacity: 0.25; */
    display: none;
}



/* checker:hover, */
/* checker.ghost {
    background: purple;
    transition-property: transform background;
    width: 100px;
    transition: width 2s;
  transition-duration: 2s;
  transition-delay: 1s;
  transition:left .33s ease;
} */

.hidden {
    display: none;
}
