:root {
    --scale-hovered-checker: 1.025;
    --scale-selected-checker: 1.05;
    /* --checker-size: 7.5vw; */
    --checker-size: 100%;
}
* {
    user-select: none;
}
body {
    width:  100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans', Sans-Serif;
    user-select: none;
}
.hidden {
    display: none;
}

/* BOARD */

#board {
    /* TEST SETTINGS */
    /* background-color: gold; */
    /* border: 6px solid black; */
    
    /* Background & border */
    background-image: url('../images/board.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    /* Center horizontally & vertically*/
    overflow: hidden;
    overflow-y: auto;
    margin: 0px;
    padding: 0px;
    padding-left: 0.375%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* Set a size */
    width: 99vw;
    height: 55.6875vw;
    max-height: 99vh;
    max-width: 176vh;
    /* Settings for children */ 
    z-index: 1;
    display: flex;
    flex-direction: row;
    box-sizing: content-box;
}
    .vertical {
        top: 0px;
        left: 0px;
        margin: 0px;
        padding: 0px;
        height: 100%;
        width: 7.75%;
        display: flex;
        flex-direction: column;
    }
        #middle_side {
            top: 0px;
            left: calc(50% - 6.25% / 2);
            margin: 0px;
            padding: 0px;
            height: 100%;
            width: 6.25%;
            display: flex;
            flex-direction: column;
        }
        .field {
            
            /* border: 1px dashed green; */


            margin: 0px;
            padding: 0px;
            height: 50%;
            z-index: 2;
            position: relative;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            user-select: none;
        }
       
       
         
        /* .field.bottom {
            background-image: url('../images/triangleBottom.svg');
            background-repeat: no-repeat;
            background-size: 300px 100px;;
        } */
        .field.allowed {
            background-repeat: no-repeat;
            background-size: 100%;
        }
        .field.top.allowed {
            /* border: 2px dashed red; */
            background-image: url('../images/triangleTop.svg');
            background-position: top;
        }
        .field.bottom.allowed {
            /* border: 2px dashed red; */
            background-image: url('../images/triangleBottom.svg');
            background-position: bottom;
        }



        .field.top {
            flex-direction: column;
        }
        .field.bottom {
            flex-direction: column-reverse;
        }
        .field.middle {
            height: 100%;
        }


/* CHECKERS */

checker {
    /* border: 1px dashed green; */

    background-size: var(--checker-size), var(--checker-size);
    background-repeat: no-repeat;
    background-position: bottom;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    will-change: transform;
    padding: 0px;
    z-index: 300;
    width: 100%;
    height: 100%;
    max-height: 11vh;
    max-width: 11vh;
    position: absolute;

    z-index: 30;
    /* --webkit-user-drag: element; */
    overflow: visible;


    /* position: relative; */
    /* display: block; */


}
[color='-1'] {
    background-image: url('../images/black.svg');
}
[color='1'] {
    background-image: url('../images/white.svg');
}
checker.hovered {
    -webkit-transform: scale(var(--scale-hovered-checker));
    transform: scale(var(--scale-hovered-checker));
    /* cursor: grab; */
}
checker[color='-1'].selected {
    background-image: url('../images/blackSelected.svg');
}
checker[color='1'].selected {
    background-image: url('../images/whiteSelected.svg');
}
checker.selected {
    display: inline-block;
    vertical-align: middle;
    z-index: 100;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);

    /* -webkit-transform: perspective(1px) translateZ(0); */
    /* -webkit-transition-duration: 0.3s; */
    /* transition-duration: 0.3s; */
    /* -webkit-transition-property: transform; */
    /* transition-property: transform; */
    -webkit-transform: scale(var(--scale-selected-checker));
    transform: scale(var(--scale-selected-checker));
}
checker.dragging {
    position: absolute;
    /* border: 1px dashed red; */
    padding: 0;
    margin: 0;
    overflow: visible;
}
checker.transparent {
    /* opacity: 0.25; */
    display: none;
}


[draggable] {
    user-select: none;
}

/* .column {
    height: 150px;
    width: 150px;
    display: inline-block;
    border: 2px solid #666666;
    background-color: #ccc;
    margin-right: 5px;
    border-radius: 10px;
    box-shadow: inset 0 0 3px #000;
    text-align: center;
    cursor: move;
}
    .column header {
        color: #fff;
        background: radial-gradient(ellipse at center, #000000 0%,#7c7c7c 100%);
        text-shadow: #000 0 1px;
        box-shadow: 5px;
        padding: 5px;
        border-bottom: 1px solid #ddd;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        pointer-events: none;
    }
    .column.over {
        border: 2px dashed #000;
    } */



/* div.checker {
    background-image: url('../images/black.svg');
    background-size: var(--checker-size), var(--checker-size);
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    height: 100%;
} */
/* checker.over {
    border: 2px dashed #000;
} */




/* HINT */

#hint {
    /* border: 1px dashed red; */
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-75%, -50%);
    width: 25%;
    height: 8%;
    font-weight:    90;
    
    /* font-family: 'Red Rose'; */
    font-family: 'Montserrat';
    /* font-family: 'Source Sans Pro'; */
    
    
    color: #70797B;
    font-size: 200%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
#hint > p {
    margin: 0px;
    padding: 0px;
}


/* DICE */

#diceBox {
    
    /* border: 1px dashed red; */

    position: absolute;
    width: 15%;
    height: 11%;
    top: calc(50% - 11% / 2);
    right: 16.5%;
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-content: center;
    z-index: 3;
}
    die {
        /* width: 15%; */
        height: 100%;



        /* height: 100%; */
        margin: 10px;
        padding: 0;
        /* max-height: 9vh; */
        /* max-width: 9vh; */
        /* border: 1px dashed red; */
        background-size: cover;
        flex-grow: 2;

    }
    die[result='1'] {
        background-image: url('../images/die1.svg');
    }
    die[result='2'] {
        background-image: url('../images/die2.svg');
    }
    die[result='3'] {
        background-image: url('../images/die3.svg');
    }
    die[result='4'] {
        background-image: url('../images/die4.svg');
    }
    die[result='5'] {
        background-image: url('../images/die5.svg');
    }
    die[result='6'] {
        background-image: url('../images/die6.svg');
    }